@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* for navigation bar */
.franz{
    height: 100vh;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1631799146456-9ee9fde0bd2b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-position: center;
    /* for contents alignments (display flex makes the contents apear on a straight line) */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-left: 1px;
    padding-right: 1px;
}

.logo{
    color:black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: red;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    padding: 14px 16px;
    transition: all 0.3s ease 0s;
}

li a:hover:not(.active) {
    background-color: rgba(17, 17, 17, 0.199);
}

.active {
    background-color: #04AA6D;
}

button {
    background-color:#fc0303e8;border: none;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid #fc0303e8;
    cursor: pointer;
    transform: scale(1.2);
}
/* end of navigation bar */

/* For content */
.content{
    position:absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.content h1{
    color: rgb(0, 0, 0);
    margin:20px 0px 20px;
    font-size: 75px;
}

.content h3{
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
}

.content h4{
    color:black;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #000000b0;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child{
    position: absolute;
    display:inline-block;
    outline:none;
    border:none;
    padding:10px 30px;
    border-radius: 30px;
    background-color:#fc0303e8;
    color: white;
    /* puts the last child inside the first child */
    box-shadow: 0px 0px 2.5px rgb(0, 0, 0), 0px 0px 10px #000000;
    top:6px;
    right: 6px;
}
/* end of header content */

/* About Section */
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color:wheat;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/* End of about me section */

/* Start of service section */
.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}

.card{
    height:365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin:15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    color: red;
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color:wheat;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color:#fc0303e8;border: none;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 7px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid #fc0303e8;
    cursor: pointer;
    transform: scale(1.2);
}
/* end of cards section */

/* Start of Contact ME */
.contact-me{
    width:100%;
    height:290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p{
  color:white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact-me .button-two{
    background-color:#fc0303e8;border: none;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
}

.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #fc0303e8;
    cursor: pointer;
    transform: scale(1.2);
}

/* Footer */

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color:wheat;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social{
    display: flex;

}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    background-color: transparent;
    border: 2px solid #fc0303e8;
    cursor: pointer;
    transform: scale(1.2);
    transition: .3s;
}

.end{
    position: absolute;
    color:wheat;
    bottom: 35px;
    font-size: 14px;
}